<%- include('./base/header.ejs') %>
<div class="container">
    <div class="row">
        <table class="table text-center">
            <thead>
                <tr>
                    
                    <th>First Name </th>
                    <th>Last Name </th>
                    <th>Father Name</th>
                    <th>Roll No.</th>
                    <th>Aadhar card</th>
                    <th>mobile No</th>
                </tr>
            </thead>
            <% students.forEach((student)=>{%>
                <tr>
                    <td><%= student.firstName %></td>
                    <td><%= student.lastName %></td>
                    <td><%= student.fatherName %></td>
                    <td><%= student.rollNo %></td>
                    <td><%= student.aadharCardNo %></td>
                    <td><%= student.mobileNo %></td>
                </tr>
                 <%})%>
        </table>

    </div>
</div>
<%- include('./base/footer.ejs') %>